#body{
    background-color: #a8bfe6;
}

p{
    font-size: 50px;
}
.button{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}
#playbutton{
    width: 300px;
}
h1{
    margin-top: 150px;
}
#btn1{
    visibility: hidden;
    width: 300px;
}
#btn2 {
    visibility: hidden;
    width: 300px;
}
#btn3 {
    visibility: hidden;
    width: 300px;
}
#btn4 {
    visibility: hidden;
    width: 300px;
}
#questionSpace{
    border: 3px solid black;
    width: 45%;
    height: 150px;
    margin-top: 50px;
    margin: 0 auto;
    font-size: 35px;
}